/* navbar toggler */
input#nav-toggle:checked + label #show-button {
  @apply hidden;
}

input#nav-toggle:checked + label #hide-button {
  @apply block;
}

input#nav-toggle:checked ~ #nav-menu {
  @apply max-lg:block;
}

/* form style */
.form-input {
  @apply border-border text-text-dark placeholder:text-text-dark/40 focus:border-border w-full rounded border px-6 py-4 transition placeholder:text-lg placeholder:font-medium focus:ring-red-500;

  &:focus {
    @apply shadow-transparent ring-transparent! outline-transparent;
  }
}

.form-label {
  @apply text-text-dark mb-2 block text-lg font-semibold;
}
